{% extends 'base.html.twig' %}

{% block title %}Wördlfinder{% endblock %}

{% block body %}


    <h1 class="text-center">Über {{ controller_name }}</h1>
    <div class="text-center">

        <p>Wördlfinder ist ein Tool um Vorschläge für Wordlys zu erhalten</p>
        <p>

        </p>

    </div>

{% endblock %}
