<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-Type" content="text/html; utf-8"/>

        <meta name="robots" content="INDEX,FOLLOW"/>
        <meta http-equiv="content-Language" content="de"/>

        <meta name="description" content="Löst deine Wördl-Rätsel automatisch für dich, vollkommen kostenlos!"/>
        <meta name="keywords"
              content="WRDL, WÖRDL, Wordly Deutsch, Wordl Deutsch, Wordl Lösungen, Wordl Lösung heute, wordle lösung, wordle tool, wordle free"/>

        <meta name="author" content="ixtomix"/>
        <meta name="publisher" content="ixtomix"/>
        <meta name="copyright" content="ixtomix"/>

        <meta name="revisit-after" content="2 days"/>
        <title>Wördlfinder</title>
        <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2250%22 fill=%22%231971d7%22></rect><path d=%22M29.76 40.80L29.76 40.80Q30.41 40.50 31.62 40.18Q32.83 39.85 34.19 39.85L34.19 39.85Q36.43 39.85 37.91 40.50Q39.38 41.15 39.73 42.45L39.73 42.45Q40.44 45.04 41.09 47.26Q41.74 49.47 42.33 51.53Q42.92 53.60 43.48 55.60Q44.04 57.61 44.57 59.79L44.57 59.79L44.87 59.79Q45.46 56.14 45.93 52.74Q46.40 49.35 46.84 46.08Q47.29 42.80 47.70 39.56Q48.11 36.31 48.53 32.89L48.53 32.89Q50.41 31.77 52.71 31.77L52.71 31.77Q54.66 31.77 56.08 32.62Q57.49 33.48 57.49 35.49L57.49 35.49Q57.49 36.72 57.23 39.11Q56.96 41.50 56.49 44.48Q56.02 47.46 55.40 50.71Q54.78 53.95 54.10 56.99Q53.42 60.03 52.71 62.54Q52.01 65.05 51.36 66.52L51.36 66.52Q50.53 67.23 48.76 67.73Q46.99 68.23 45.10 68.23L45.10 68.23Q42.63 68.23 40.88 67.55Q39.14 66.87 38.73 65.63L38.73 65.63Q37.91 63.16 36.81 59.41Q35.72 55.66 34.54 51.36L34.54 51.36Q34.07 53.48 33.54 55.60Q33.01 57.73 32.48 59.73Q31.95 61.74 31.44 63.48Q30.94 65.22 30.53 66.58L30.53 66.58Q29.70 67.23 28.14 67.73Q26.58 68.23 24.63 68.23L24.63 68.23Q22.27 68.23 20.35 67.52Q18.44 66.81 17.85 65.63L17.85 65.63Q17.31 64.51 16.69 62.39Q16.08 60.27 15.40 57.52Q14.72 54.78 14.04 51.62Q13.36 48.47 12.74 45.31Q12.12 42.15 11.65 39.14Q11.18 36.13 10.88 33.66L10.88 33.66Q11.65 33.01 12.95 32.39Q14.25 31.77 15.84 31.77L15.84 31.77Q17.85 31.77 19.11 32.68Q20.38 33.60 20.74 35.66L20.74 35.66Q21.68 41.21 22.30 45.10Q22.92 49.00 23.36 51.77Q23.80 54.54 24.13 56.43Q24.45 58.32 24.75 59.79L24.75 59.79L25.04 59.79Q25.63 57.38 26.16 55.31Q26.70 53.24 27.26 51.09Q27.82 48.94 28.44 46.49Q29.06 44.04 29.76 40.80ZM68.53 32.06L88.17 32.06Q88.53 32.65 88.82 33.60Q89.12 34.54 89.12 35.66L89.12 35.66Q89.12 37.61 88.26 38.55Q87.41 39.50 85.87 39.50L85.87 39.50L72.77 39.50L72.77 47.23L86.17 47.23Q86.52 47.88 86.85 48.76Q87.17 49.65 87.17 50.83L87.17 50.83Q87.17 52.77 86.28 53.69Q85.40 54.60 83.93 54.60L83.93 54.60L72.89 54.60L72.89 67.76Q72.24 67.94 71.06 68.08Q69.88 68.23 68.59 68.23L68.59 68.23Q65.81 68.23 64.72 67.29Q63.63 66.34 63.63 63.86L63.63 63.86L63.63 36.96Q63.63 34.72 64.96 33.39Q66.28 32.06 68.53 32.06L68.53 32.06Z%22 fill=%22%23f8e71c%22></path></svg>" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">

        {{ include('global/navbar.html.twig') }}

        <div class="container-fluid pb-5">
            <div class="blue-inner-container container mx-auto">
                <div class="row">
                    <div class="col-12 p-3 m-1">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {{ include('global/footer.html.twig') }}

    </body>
</html>
