{% extends 'base.html.twig' %}

{% block title %}Wördlfinder{% endblock %}

{% block body %}
    {{ include('global/navbar.html.twig') }}
    <div class="blue-container">
        <div class="blue-inner-container">
            <h1>{{ controller_name }}</h1>

            <p class="text-lg-center display-6 text-danger">Under Construction</p>

        </div>
    </div>
{% endblock %}
